html {
  height: 100%;
}
body {
  background-color: rgb(246, 244, 243);
  padding: 10px 15px;
  font-size: 1rem;
  min-height: 100%;
}

.welcome {
  text-align: center;
  float: right;
  font-size: 1.2rem;
  width: 100%;
}

.nav-wrapper {
  width: 25%;
}

.user-wrapper {
  width: 75%;
  float: right;
}
